/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Orbitron&family=Prompt:wght@300&display=swap');

.Navbar.Brand{
    background-color: #fff;
    font-family: 'Prompt', sans-serif;
    font-family: 'Montserrat', sans-serif;
} */


